name: tests

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-24.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential g++-14 gcc-14 libboost-dev meson ninja-build gcovr

      - name: Run tests
        env:
          GENERATE_GOLDENS: "0"
        run: |
          export CC=gcc-14
          export CXX=g++-14
          export GCOV=gcov-14
          meson setup build
          meson test -C build -v
          ninja -C build coverage-text
          cat build/meson-logs/coverage.txt
